<html>

<head>
    <title><%=title%></title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.io = io.connect();
    </script>
</head>

<body>
    <% if(typeof navigation === 'undefined' || navigation !== false){ %>
    <nav>
        <ul>
            <li><a href="<%=self.urlFor('pages', 'index')%>">Index</a></li>
            <li><a href="<%=self.urlFor('pages', 'imprint')%>">Impressum</a></li>
        </ul>
    </nav>
    <% } //endif %>
    <%-body%>
</body>

</html>