<html>

<head>
    <title>
        <%=title%>
    </title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% for (let index = 0; index < self.cssFiles.length; index++) { %>
    <link rel="stylesheet" type="text/css" href="/assets/css/<%-self.cssFiles[index]%>.css">
    <% } //ENDFOR %>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.io = io.connect();
    </script>
    <link rel="stylesheet" href="assets/libs/sceditor/minified/themes/default.min.css" />
    <script src="assets/libs/sceditor/minified/sceditor.min.js"></script>
    <script src="assets/libs/sceditor/minified/formats/bbcode.js"></script>
</head>

<body>
    <%-body%>

    <% if(self.req.user) { %>
    <script>
        let currentUserId = <% -self.req.user.id %>;
    </script>
    <% } %>
    <% for (let index = 0; index < self.jsFiles.length; index++) { %>
    <script src="/assets/js/<%-self.jsFiles[index]+(cfg.minify === true ? '.min' : '')%>.js"></script>
    <% } %>
</body>

</html>