.um-wrapper {
    display: block;
    width: 60%;
    float: left;

    table, th, td {
        border: 1px solid black;
    }
}

.permission-calculator {
    display: block;
    width: auto;
    float: right;
    background: white;
}

.not-allowed {

}