@imagePath: '/assets/images';

//color defines
@color-default-bg: #181818;
@color-input-bg: #ffffff;
@color-signin-bg:#883DF2;
@color-signin-ph:#ffffff;
@color-input-border:#ffffff;
@color-button-font:#ffffff;
@color-button-bg:#6329b6;



@color-main: #26BFBB;
@color-warning: #F3CF0A;
@color-error: #C13F18;
@color-fine: #17B859;

@color-menu-item: #6A6A6A;
@color-chat-topbar-bg:#bdc3c7;
@color-chat-topbar-text: #000000;
@color-chat-submit-bg:#bdc3c7;
@color-chat-submit-text: #000000;

//width defines
@menu-width: 44px;
@chat-width: 240px;
@kanban-col-width: 240px;
//height defines
@chat-topbar-height: @menu-width;
@chat-input-height: 80px;
@kanban-title-height: @menu-width;
@kanban-add-height: 37px;